{% extends 'base.html.twig' %}

{% block title %}AppUser index{% endblock %}

{% block body %}
    <h1>AppUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for app_user in app_users %}
            <tr>
                <td>{{ app_user.id }}</td>
                <td>{{ app_user.firstName }}</td>
                <td>{{ app_user.lastName }}</td>
                <td>{{ app_user.email }}</td>
                <td>{{ app_user.password }}</td>
                <td>{{ app_user.roles ? app_user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': app_user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': app_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
