{% extends "base.html.twig" %}

{% block body %}

<div class="float-left">
	<h2>Objets</h2>
</div>

{% if is_granted("ROLE_USER") %}
	<div class="float-right">
		<a href="{{ path("star_create") }}" class="btn btn-primary">Ajouter un objet</a>
	</div>
{% endif %}


<div class="scroll-fixed">
	<div class="container-cards">
		{% for id, star in stars %}
			<div class="card flex-cards">

				<a href=" {{ path("star_view", {"id": star.id}) }} ">

					<img class="card-img-top" src="{{ asset('uploads/images/' ~ star.brochureFilename) }}" alt="Card image cap">
				</a>

				<div class="card-body">
					<h5 class="card-title">
						{{ star.name }}</h5>

					{% if is_granted("view", star) %}
						<a href=" {{ path('star_update', {'id' : star.id}) }} " class="btn btn-primary">Update</a>

						<a href=" {{ path('star_delete', {'id' : star.id}) }} " class="btn btn-danger" onclick="return confirm('Confirmez la suppression')">Delete</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
