{% extends "base.html.twig" %}

{% block body %}

	<div class="galaxy-background" style="background-image:url({{ asset('uploads/images/' ~ galaxy.brochureFilename) }}) ">

		<div class="float-right">
			<a href="{{ path("star_create") }}" class="btn btn-primary">Ajouter une étoile</a>
		</div>

		<h2>{{ 
		galaxy.name }}</h2>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<div class="container-cards">
			{% for id, star in stars %}
				<div class="card flex-cards">

					<img class="card-img-top" src="{{ asset('uploads/images/' ~ star.brochureFilename) }}" alt="Card image cap">
				</a>

				<div class="card-body">
					<h5 class="card-title">
						{{ star.name }}</h5>
					<p class="card-text">{{ star.age }}</p>

					<a href=" {{ path('star_update', {'id' : star.id}) }} " class="btn btn-primary">Update</a>

					<a href=" {{ path('star_delete', {'id' : star.id}) }} " class="btn btn-danger" onclick="return confirm('Confirmez la suppression')">Delete</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
