{% extends "base.html.twig" %}

{% block body %}
	<div class="galaxy-background" style="background-image:url({{ asset('uploads/images/' ~ star.galaxy.brochureFilename) }}) ">


		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<div class="container-view">

			<div class="image-view">
				<img src="{{ asset('uploads/images/' ~ star.brochureFilename) }}" alt="image star">
			</div>
			<div class="right">
				<div class="description-view">
					<h2>
						{{ star.name }}
					</h2>
					<p>
						{{ star.description }}
					</p>

					<div class="view-caption">

						<hr>

						<ul>
							<li>
								<span>
									Âge :
								</span>
								{{ star.age }}
							</li>
							<li>
								<span>
									Type :
								</span>
								{{ star.type  }}
							</li>
							<li>
								<span>
									Masse :
								</span>
								{{ star.masse  }}
							</li>
							<li>
								<span>
									Galaxie :
								</span>
								{{ star.galaxy.name  }}
							</li>
						</ul>
					</div>
				</div>
				<div class="float-buttons">
					<a href="{{ path('galaxy_stars_list', {id: star.galaxy.id}) }}" class="btn btn-secondary">
						Back
					</a>


					{% if is_granted("ROLE_USER") %}
						<a href="{{ path('star_update', {id: star.id}) }}" class="btn btn-primary">
							Update
						</a>
						<a href="{{ path('star_delete', {id: star.id}) }}" class="btn btn-danger" onclick="return confirm('Confirmez la suppression !')">
							Delete
						</a>

					{% endif %}
				</div>
			</div>


		</div>
	</div>
{% endblock %}
